*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body{
    background-color: rgb(29, 36, 36);
    padding: 10px;
}

.container{
    min-width: 1400px;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(54, 63, 63);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.form-container{
    padding: 15px;
    background-color: rgb(70, 86, 86);
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 15px;
}

label{
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0 ,0 ,0.1);
    color: black;
}

#add-btn{
    background-color: rgb(75, 149, 149);
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

#add-btn:hover{
    background-color: rgb(97, 191, 191);
    cursor: pointer;
}

h2{
    text-align: center;
    font-size: 1.7rem;
}

.tasks-list{
    padding: 15px;
    background-color: rgb(70, 86, 86);
    border-radius: 8px;
    margin-bottom: 20px;
}

#filter-select, #sort-select{
    background-color: rgb(70, 86, 86);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.filters-container{
    display: flex;
    margin-left: 23px;
    gap: 10px;
}

.tasks-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 1rem;
}

th{
    text-align: center; 
    margin-bottom: 10px;
}

tr td{
   text-align: center; 
   margin-bottom: 10px;
}
 
.delete-btn{
    background-color: red;
    margin: 10px 5px 10px 0;
    padding: 5px;
    width: 75px;
    border: 1px solid black;
    border-radius: 5px;
}

.edit-btn{
    background-color: rgb(50, 18, 214);
    margin-right: 5px;
    padding: 5px;
    width: 75px;
    border: 1px solid black;
    border-radius: 5px;
}

.details-btn{
    background-color: rgb(24, 151, 7);
    width: 125px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.add-sub-btn{
    background-color: rgb(75, 149, 149);
    font-weight: bolder;
    width: 50px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.delete-btn,.edit-btn,.details-btn,.add-sub-btn,#yesBtn,#noBtn:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

.youSureModal{
    position: absolute;
    padding: 10px;
    background-color: rgb(54, 63, 63);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h3{
    text-align: center;
    margin-bottom: 5px;
}

#yesBtn{
    background-color: rgb(24, 151, 7);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 10%;
}

#noBtn{
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 10%;
}

.completed-row {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}

.completed-row input[type="checkbox"] {
  pointer-events: none;
}

.sub-row{
    background-color: rgb(58, 71, 71);
    margin-left: 20px;
}

.editModal{
    position: absolute;
    padding: 10px;
    background-color: rgb(54, 63, 63);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#confirm-btn{
    background-color: rgb(24, 151, 7);
    width: 40%;
    padding: 7px;
    border-radius: 5px;
    font-size: 1rem;
}

#cancel-btn{
    background-color: rgb(181, 23, 23);
    width: 40%;
    padding: 7px;
    border-radius: 5px;
    font-size: 1rem;
}

#confirm-btn:hover{
    background-color: rgb(28, 178, 8);
    cursor: pointer;
}

#cancel-btn:hover{
    background-color: red;
    cursor: pointer;
}

#edit-deadline-input:hover{
   cursor: pointer;
}

.subtask-modal{
    position: absolute;
    padding: 10px;
    background-color: rgb(54, 63, 63);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

*:focus{
    outline: 2px solid rgb(75, 149, 149);
}

.time-passed{
    text-decoration: line-through;
    color: red;
    opacity: 0.6;
}

tr:not(#top-tr):hover{
    background-color: rgb(75, 149, 149);
}



